{% extends "base.html" %} {% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('main.new_advertisement') }}" enctype="multipart/form-data">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>

                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>

                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="price">Preço (R$)</label>
                    <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                </div>

                <label for="category-select">Categoria</label>
                <select id="category-select" name="category" class="form-control" required>
                    <option value="" disabled selected>-- Selecione uma Categoria --</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

                <div class="form-group">
                    <label for="whatsapp_number">Número do WhatsApp</label>
                    <input type="tel" class="form-control" id="whatsapp_number" name="whatsapp_number" placeholder="5527999998888" required>
                    <small class="form-text text-muted">
                        Inclua o código do país e o DDD, somente números.
                    </small>
                </div>

                <div class="form-group">
                    <label for="picture">Imagem do Anúncio</label>
                    <input type="file" class="form-control-file" id="picture" name="picture" accept="image/png, image/jpeg, image/gif">
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Publicar Anúncio</button>
            </div>
        </form>
    </div>
{% endblock content %}
